@import "tailwindcss";

.custom-titlebar {
  height: 40px;
  background-color: #ffffff;
  -webkit-app-region: drag;
}

.window-controls {
  -webkit-app-region: no-drag;
}

.window-control-btn {
  -webkit-app-region: no-drag;
  background: transparent;
  border: none;
  color: #080420;
  padding: 0 15px;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-control-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.window-control-btn.close:hover {
  color: #e81123;
}


.app-content {
  transition: all 0.4s ease-in-out;
  padding: 24px;
  overflow: auto;
  height: calc(100vh - 40px); /* Subtract titlebar height */
}

.app-content.maximized {
  padding: 12px;
}